
<ul>
    <% @user.goals.each do |goal| %>
        <li>
            <%= goal.name %>
            <%= goal.details %>
            <% if goal.status %>
                <p>Done</p>
            <% end %>
            <form action="<%= goal_url(goal.id)%>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button>Delete Goal</button>
            </form>
        </li>
    <% end %>
</ul>

<h1>Add a New Goal</h1>
<form action="<%= user_goals_url(params[:id])%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label>Name
    <input type="text" name="goal[name]">
    </label>
    <label>Details
    <input type="text" name="goal[details]">
    </label>
    <h1>Is it complete?</h1>
    <label>true
    <input type="radio" name="goal[status]" value="true">
    </label>
    <label>false
    <input type="radio" name="goal[status]" value="false">
    </label>
    <button>Create Goal</button>
</form>
